# "config1.js to ignore" 
config1.js

# for better overview to ignore
response.js
main3.js
main2WithoutComments.js

# "config.js" is the file, which we want to hide from gitHub, but because I already pushed the project on GitHub (with this empty file ), the file will stay visible.
config.js