/* CheckBoxes-Style */

/* Hide & Show Button for more and less Broccoli-Infos */

body {
  background-color: #198754;
  color: #fff;
}

.hide {
  display: none;
}
.show {
  display: block;
}
.radioButtons label {
  color: black !important;
  font-size: 15px;
  padding: auto;
}
div.radioButtons {
  display: flex;
  justify-content: right;
  align-items: center;
}

/* Nav-Bar Search Button Hover */
.buttonOverwrite:hover {
  border-color: white;
  background-color: #198754;
  color: white;
}

/* back-ground Color overwrite Bootstrap Style (color) */
/* .backgroundColorOverwrite:content */

/* element.card-title.h5 {
  color: #198754;
} */

.pointer-cursor {
  cursor: pointer;
}
