/* CheckBoxes-Style */

/* Hide & Show Button for more and less Broccoli-Infos */

body {
  background-color: #198754;
  color: #fff;
}

.hide {
  display: none;
}
.show {
  display: block;
}
.radioButtons label {
  color: black !important;
  font-size: 15px;
  padding: auto;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: black;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

div.radioButtons {
  display: flex;
  justify-content: right;
  align-items: center;
}

/* CHECKBOXES div.form-check-input {
  display: flex;
  justify-content: left;
  align-items: center;
} */

/* Nav-Bar Search Button Hover */
.buttonOverwrite:hover {
  border-color: white;
  background-color: #198754;
  color: white;
}

/* .buttonoverwrite: {
} */

/* back-ground Color overwrite Bootstrap Style (color) */
/* .backgroundColorOverwrite:content */

/* element.card-title.h5 {
  color: #198754;
} */

.pointer-cursor {
  cursor: pointer;
}

#btnCheckAll:hover {
  color: #198754;
  background-color: black;
}

#headerWhy {
  color: black;
}

/* FOOTER SUBSCRIBE BUTTON ==================================================== */
#submitbutton:hover {
  border-color: white;
  background-color: #198754;
  color: white;
}
